.jumbotron{
    text-align: center;
    background-image: url(temp2.png);
}

.mainDescription{
    padding: 2rem;
}

.imgCenter{
    display: block;
    margin: auto;
}

.top-padding{
    padding-top: 10rem;
}

.bottom-padding{
    padding-bottom: 10rem;
}

.zero-margin{
    margin: 0px;
}
.zero-padding{
    padding: 0px;
}

.footer-padding{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-font{
    font-size: 11px;  
    position: absolute;
    top: 50%;
}

.textCenter{
    text-align: center;
    vertical-align: middle;
    font-family: "Noteworthy", "arial";
    font-weight: bold;
}

.side-margin{
    margin-left: 30px;
    margin-right: 30px;
}

/*MOBILE*/
@media screen and (max-width:480px) {
div.container img.mainTitle{
    position: relative;
    width: 100%;
}
}
